<!DOCTYPE HTML>
<html>
	<head>
		<title>BAAA All Rooms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/try.css') }}">
	</head>
	<body class="is-preload">

		<!-- Header -->
        <header id="header">
            <a class="logo" href="/">HOME</a>
            <a class="logo" href="all_rooms">ALL ROOMS</a>
            <a class="logo" href="contact">CONTACT</a>
			<a class="logo" href="logout">LOG OUT</a>
        </header>

		<!-- Heading -->
			<div id="heading" >
				<h1>All Rooms</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							<div class="col-6 col-12-medium">

                                <!-- Text -->
                                    <h2>Basement</h2>
                                    <ul>
										<h4><a href="#"><b>Bar</b> &nbsp </a>(available soon)</h4>
                                        <h4><a href="#"><b>IT Basement</b> &nbsp</a>(available soon)</h4>
                                    </ul>
                                    <h2>Ground Floor</h2>
                                    <ul>
                                        <h4><a href="#"><b>Canteen</b> &nbsp</a>(available soon)</h4>
                                        <h4><a href="main_hall"><b>Main Hall</b></a></h4>
                                    </ul>
                                    <h2>First Floor</h2>
                                    <ul>
                                        <h4><a href="#"><b>Library</b> &nbsp</a>(available soon)</h4>
                                    </ul>
                                    <h2>Second Floor</h2>
                                    <ul>
                                        <h4><a href="#"><b>Room 237</b> &nbsp</a>(available soon)</h4>
                                    </ul>
                                    

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script src="static/js/time.js"></script>
	</body>
</html>