<!DOCTYPE HTML>
<html>
	<head>
		<title>BAAA Contact</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/try.css') }}">
	</head>
	<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a class="logo" href="/">HOME</a>
		<a class="logo" href="all_rooms">ALL ROOMS</a>
		<a class="logo" href="contact">CONTACT</a>
		<a class="logo" href="logout">LOG OUT</a>
	</header>

		<!-- Heading -->
			<div id="heading" >
				<h1>Contact</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
                            <h2>Roman Zvoda</h2>
							<p>eaarozv@students.eaaa.dk</p>
                            <h2>Patrik Bandik</h2>
							<p>eaapab@students.eaaa.dk</p>
                            <h2>Martin Vasko</h2>
							<p>eaamvas@students.eaaa.dk</p>
						</header>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
	</body>
</html>