<!DOCTYPE HTML>
<html>
	<head>
		<title>BAAA Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/try.css') }}">
	</head>

 <body class="is-preload">
  <section class="wrapper">
    <div class="inner">
      <div class="container">
          <header class="special">
              <h2>WELCOME</h2>
              <br><br><br>
            <form method="POST">
                <label class="label">Username</label>
                  <input class="haha" type="text" name="username" placeholder="Username">
                  <br>
                <label class="label">Password</label>
                  <input class="haha" type="password" name="password" placeholder="Password">
              </header>

              <header class="special">
                <p class="control">
                  <button type="submit">
                    Login
                  </button>
                </p>
              </header>
            </form>
          </div>
        </div>
      </div>
  </section>

	</body>
</html>